@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Quicksand&display=swap');

*{
    padding: 0;
    margin: 0;
}

.container{
    height: 100vh;
    width: 100%;
    background-image: url(/images/deathnote.jpg);
    background-size: contain;  
    background-position: center;
    padding-left: 2%; 
    padding-top: 4%;
}

.header{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo{
    width: 120px;
    border-radius: 30%;
    cursor:pointer;
}

h1{
    font-family: 'Bruno Ace SC', cursive;
    padding-left:  2em;
    font-size: 65px;
    color: #fff;
    border-color: red;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(255, 0, 0), 0 0 0.2em rgb(255, 0, 0);
}

.content .text h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 37px;
    color: #fff;
    padding-top: 50px;
    padding-right: 1030px;
    line-height: 1.2em;
}

span{
    color: crimson;

}

p{
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    color: #fff;
    padding-top: 170px;
    padding-left: 73rem; 
}

.text p span{
    font-weight: 900;
    text-shadow: 1px 1px 2px black, 0 0 1em rgb(255, 0, 0), 0 0 0.2em rgb(255, 0, 0);
}  